/* ==============================

    pixter responsive 
    CSS styleshit

    created by Elay on 22.6.2016

  =============================== */ 

@import url("https://fast.fonts.net/t/1.css?apiType=css&projectid=75b13f40-4397-41a2-bd77-d01aa7326235");
@import url("https://fonts.googleapis.com/css?family=Dosis:400,500");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@font-face {
  font-family: 'CalibriRegular';
  src: url("https://pixter-loader-assets.s3.amazonaws.com/1_8_2_stg/files/fonts/CalibriRegular.eot");
  src: url("https://pixter-loader-assets.s3.amazonaws.com/1_8_2_stg/files/fonts/CalibriRegular.eot?#iefix") format("embedded-opentype"), url("https://pixter-loader-assets.s3.amazonaws.com/1_8_2_stg/files/fonts/CalibriRegular.woff") format("woff"), url("https://pixter-loader-assets.s3.amazonaws.com/1_8_2_stg/files/fonts/CalibriRegular.ttf") format("truetype"), url("https://pixter-loader-assets.s3.amazonaws.com/1_8_2_stg/files/fonts/CalibriRegular.otf") format("opentype"), url("https://pixter-loader-assets.s3.amazonaws.com/1_8_2_stg/files/fonts/CalibriRegular.svg#CalibriRegular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-25CA; 
}

/* outline & box-shadow fixes */

:focus {
    outline: none;
}
button:active,
.button:active,
button:focus,
.button:focus,
button:hover,
.button:hover,
.btn.active.focus,
.btn.active:focus,
.btn:active.focus,
.btn:active:focus,
.btn.focus,
.btn:focus {
  outline: 0 !important;
  box-shadow: none;
}
input:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
input[type="range"]:focus,
textarea:focus, 
textarea[type="text"]:focus,
textarea[type="text"]:active,
select:focus,
select[type="number"]:focus,
select[type="number"]:active {   
/*  border-color: #979797 !important;*/
  box-shadow: none;
  outline: 0 !important;
}
.form-control:focus {
    border-color: initial;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* generic classes */ 

.btn {
  font-size: 18px;
}

.borderR {
  border: solid 1px red;
}
.orenge_text {
  color: #FF7A01;
}

.next-button:hover {
  opacity: .65;
}

.no-margin {
  margin: 0 auto;
}
.no-margin-bottom {
  margin-bottom: 0; 
}

.width-50 {
  width: 50% !important;
}
.width-100 {
  width: 100% !important;
}
/* store frame (header, modal/close buttons, discount-info) style */

#pixter-responsive-store {
  width: 100%;
  height: 100%;
  opacity: 0;
  background: #fff;
  border-radius: 4px;
  font-family: Roboto, 'CalibriRegular', 'Gill Sans', Verdana, Arial !important;
}
#pixter-responsive-store.opacity-animation {
  transition: opacity 1s;
  opacity: 1;
} 
.store-header {
  position: fixed;
  width: 100%;
  min-height: 44px;
  line-height: 20px;
  color: #92aaaa;
  font-size: 14px;
  padding: 12px 0;
  text-align: center;
  z-index: 100;
  background: #fff;
}

.store-header-back-button {
  left: 4px;
  z-index: 1;
  width: 40px;
  height: 32px;
  padding-left: 4px;
  margin-top: -6px;
  line-height: 29px;
  text-align: left;
  font-size: 28px;
  cursor: pointer;
  position: absolute;
}
.header-logo-image-container {
  position:absolute;
  top: 10px;
  left: 32px;
}
.header-logo-image {
  height: 20px;
}


.store-header-buttons-container {
  position: absolute;
  right: 20px;
  top: 10px;
}
.store-header-learn-more-button {
  position: relative;
  top: 1px;
  height: 20px;
  width: 20px;
  padding: 3px;
  margin: 0 -4px 0 8px;
  color: #92aaaa;
  line-height: 1;
  font-size: 15px;
  text-align: center;
  border-radius: 10px;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #92aaaa;
  font-family: Roboto, 'CalibriRegular', 'Gill Sans', Verdana, Arial !important;
}
.store-header-learn-more-button:focus {
  outline: none;
}
.store-header-close-button {
  border: none;
  color: #92aaaa;
  font-size: 14px;
  font-weight: 400;
  margin-right: -16px;
  background: transparent;
}

.user-messaging {
  z-index: 99;
  position: fixed;
  width: 100%;
  padding: 48px 12px 4px;
  font-size: 17px;
  line-height: 17px;
  text-align: center; 
  background: #f9f9f9;
}
.user-messaging span.colorizedSpan {
  color: #92aaaa;
  font-weight: 700;
  font-size: 15px;
  font-family: Roboto, 'CalibriRegular', 'Gill Sans', Verdana, Arial !important;
}
.white-button {
  color: #8b8b8b;
  line-height: 0;
  font-size: 18px;
  cursor: pointer;
  background: white;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #8b8b8b;
  font-family: Calibri, "CalibriRegular", "Gill Sans", Verdana, Arial;
}


/* learn-more-modal style */

#learn-more-modal .modal-content {
  padding: 16px;
} 
#learn-more-modal .modal-title {
  font-size: 32px;
}
#learn-more-modal .modal-body {
  font-size: 20px;
}
#learn-more-modal {
  color: #4d4d4d !important;
}
#learn-more-modal button.close {
  opacity: .68;
}
#learn-more-modal .next-button {
  width: 120px;
  height: 36px;
}
.learn-more-modal-links {
  display: inline-flex;
  list-style: none;
  padding: 20px 0;
}
.learn-more-modal-links li {
  padding: 0 8px;
  border-right: solid 1px #8b8b8b;
  text-decoration: underline;
}
.modal-header,
.modal-footer,
.learn-more-modal-links li:last-child {
  border: none;
}

/* dpi worning modal */
.modal-sm {
  width: 300px;
  margin: 0 auto;
  margin-top: calc(50vh - 128px)
}
.dpi-worning-modal-ok-button,
.dpi-worning-modal-cancel-button {
  height: 32px;
  padding: 0 8px;
  border-radius: 4px;
}
.dpi-worning-modal-cancel-button {
  color: #8b8b8b;
  background-color: #fff;
  border: 1px solid #8b8b8b;
}



/* shop view (first view) style */
#shop-view-responsive {
  margin: 0;
  padding-top: 69px;
}

#shop-view-responsive .shop-view-product-container {
  /*margin: 10px 0;*/
  padding: 12px;
  overflow: hidden;
}
#shop-view-responsive .product_image_container {
  width: 100%;      
  height: 145px;
}
.shop-view-product-image-display div {
  margin: 0 auto;
} 


#shop-view-responsive .product-data {
  padding: 12px 0;
  font-size: 16px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.25px;
}
#shop-view-responsive .product-data span.product-name {
  color: #32bafa;
}
#shop-view-responsive .product-data span.product-price {
  font-family: Calibri, "CalibriRegular", "Gill Sans", Verdana, Arial;
  color: #5a5a5a;
}
.shop-view-next-button-container {
  text-align: center;
}
.shop-view-next-button-container .btn.next-button {
  line-height: 1;
  width: 120px;
  padding: 1px 12px;
}

/* preview view style */

#preview-view-responsive {
  padding-top: 80px;
}
.preview-product-image {
  padding-top: 44px;
  text-align: center;
  margin-bottom: 12px;
}
.preview-product-border {
  
  float: right;
  /*border: 1px solid #c4c4c4;*/
}
.preview-product-border div {
  margin: 0 auto;
}
.chosen-product-title {
  float: left;
}
.preview-edit-row {
  width: 280px;
  text-align: right;  
  margin: 4px auto 0 !important;
}
.preview-edit-btn {
  cursor: pointer;
  display: inline-block;
  position: relative;
  color: #32bafa;
  font-size: 18px;
  z-index: 1;
  padding: 4px 12px;
  border-radius: 4px;
}
.preview-edit-btn .glyphicon {
  font-size: 14px;
}

.front-back-buttons-row {
  padding-top: 4px;
}
.preview-product-details {
  float: left;
  height: 324px;
  padding-top: 24px;
}
.preview-details-header {
  display: flex;
  width: 100%;
  margin-bottom: 12px;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -0.25px;
  border-bottom: 1px solid #d9d9d9;
}
.preview-product-select {
  min-width: 128px;
  font-size: 18px;
  padding: 0 12px;
}
.preview-details-header .preview-price {
  font-size: 18px;
  padding-left: 20px;
    position: absolute;
    right: 52px;
}
.preview-bullet-list {
  padding-top: 20px;
  padding-left: 16px;
}
.preview-bullet-list li {
  color: #32bafa;
  font-size: 20px;
  line-height: 32px;
  padding-right: 20%;
  margin-bottom: 12px;
  letter-spacing: -0.5px;
  font-family: Calibri, "CalibriRegular", "Gill Sans", Verdana, Arial;
}
.preview-bullet-list span {
  color: #5a5a5a;
}
.preview-list-more-button {
  float: right;
  font-weight: 600;
}

.preview-next-row {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#preview-view-responsive .next-button {
  position: absolute;
  right: 52px;
  top: 27px;
  width: 200px;
  line-height: 28px;
}

.preview-title{
  font-size: 18px;  
  color: #32bafa;
}
/* edit view style */

#edit-view-responsive {
  padding: 52px 12px 8px;
}
#edit-view-responsive .edit-header {
  width: 100%;
  color: #32bafa;
  margin: 0 auto;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  padding: 20px 24px;
  font-family: Calibri, "CalibriRegular", "Gill Sans", Verdana, Arial;
}

.crop-image-container {
  /*padding: 36px 20px;*/
  min-height: 300px;
  text-align: center;
  /*background-color: #b3b3b3;*/
  overflow: hidden;
}
.edit-image-inner-container {
  /*max-width: 500px;*/
  margin: 0 auto;
}
.edit-image-inner-container > div {
  margin: 0 auto;
}
.crop-controls {
  color: #fff;
  width: 60px;
  padding: 0;
  list-style: none;
  text-align: center;
  background-color: #000;
}
.crop-controls.horizontal {
  display: flex;
  width: 100%;
}
.crop-controls .crop-control-button {
  width: 100%;
  height: 25%;
  /*line-height: 75px;*/
  line-height: 40px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}
.crop-controls.horizontal .crop-control-button {
  width: 25%;
}
.crop-controls .crop-control-button .rotate-right {
  transform: rotateY(180Deg);
}

.edit-bottom-buttons-container {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 28px;
}
.edit-bottom-buttons-container .right-buttons-group {
  display: -webkit-inline-box;
}
.edit-bottom-buttons-container .next-button,
.edit-bottom-buttons-container .white-button {
  height: 38px;
}
.edit-bottom-buttons-container .next-button {
  padding: 0px 48px;
  margin: 0 16px;
}
.edit-bottom-buttons-container .revert-changes-button {
  color: #999;
  border: none;
  cursor: pointer;
  font-size: 19px;
  margin-left: 16px;
  margin-bottom: 12px;
  background: transparent;
  text-decoration: underline;
}

/* pay-flow (order_details & checkout views) style */
#checkout-view-responsive {
  margin: 0;
  padding: 92px 28px 0 0;
}
.pay-flow-product-thumbnail {
  max-width: 180px;
  margin: 0 auto;
}
.pay-flow-product-thumbnail img {
  width: 100%;
}

/* order-details view style */

#order-details-view-responsive {
  padding: 68px 52px 12px;
}
.order-details-header {
  color: #4d4d4d;
  font-size: 32px;
  font-family: Calibri, "CalibriRegular", "Gill Sans", Verdana, Arial;
  padding-bottom: 4px;
  margin-bottom: 10px;
  border-bottom: 1px solid #d9d9d9;
}
.order-details-input {
  width: 100%;
  height: 38px;
  padding: 0 15px;
  margin-bottom: 10px;
  color: #000;
  font-size: 18px;
  line-height: 18px;
  font-family: Calibri, "CalibriRegular", "Gill Sans", Verdana, Arial;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #7c7c7c;
  box-sizing: border-box !important;  
}
.order-details-input::-webkit-input-placeholder { 
  line-height: 18px;
  color: #888;
}
.order-details-state-zip-inputs {
  width: 100%;
  display: flex;
}

#order-details-view-responsive .checkbox label {
  line-height: 14px;
}

#order-details-view-responsive  .next-button {
  float: right;
  width: 200px;
  line-height: 28px;
}


/* checkout view style */

#checkout-view-responsive .pay-flow-product-thumbnail {
  margin-top: 64px;
}
.checkout-view-header {
  color: #4d4d4d;
  font-size: 30px;
  line-height: 72px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-bottom: 40px;
  font-weight: normal;
  border-bottom: 2px solid rgba(206, 206, 206, 0.7);
  font-family: Calibri, "CalibriRegular", "Gill Sans", Verdana, Arial;
}
.checkout-view-price-row {
  padding: 10px 10px 10px 0;
  border-bottom: 2px solid rgba(206, 206, 206, 0.7);
}
.checkout-view-price-row:last-child {
  border-bottom: none;
}
.checkout-price-title {
  color: #4d4d4d;
  font-size: 20px;
  line-height: 22px;
  font-family: Calibri, "CalibriRegular", "Gill Sans", Verdana, Arial;
}
.checkout-price-title.bigger-title {
  font-size: 22px;
}
.checkout-price {
  color: #32bafa;
  font-family: Calibri, "CalibriRegular", "Gill Sans", Verdana, Arial;
}
.checkout-new-price {
  font-size: 20px;
  line-height: 20px;
}
.checkout-old-price {
  text-decoration: line-through;
  margin-right: 30px;
  font-size: 16px;
  line-height: 20px;
}
.checkout-shipping-method-info {
  color: #6e6e6e;
  font-size: 17px;
  line-height: 17px;
  margin: 4px 0 8px;
  font-family: Calibri, "CalibriRegular", "Gill Sans", Verdana, Arial;
}
.checkout-ship-type-radio-text {
  color: #7a7a7a;
  font-size: 17px;
  line-height: 17px;
}
.checkout-saved-price {
  font-size: 18px; 
}
.checkout-total-title {
  margin-right: 30px;
}
.checkout-total-price {
  font-size: 22px;
}
.checkout-cupon-modal-button {
  color: #106eaf;
  font-size: 16px;
  cursor: pointer;
  padding: 12px 0;
  line-height: 16px;
  letter-spacing: -0.5px;
  text-decoration: underline;
}
.checkout-pay-buttons-row {
  
}
.checkout-pay-button {
  margin: 12px auto;
  cursor: pointer;
  border-radius: 7px;
}
.checkout-pay-button.credit {
  /*margin-right: 64px;*/
  /*background: url('https://pixter-loader-assets.s3.amazonaws.com/1_8_1_stg/files/images/checkout_card_slidly.png');*/
}
.checkout-pay-button.paypal {
  background-position: -16px -6px !important;
/*  background: url('https://pixter-loader-assets.s3.amazonaws.com/1_8_1_stg/files/images/checkout_paypal.png');*/
}
/* cupon-modal style */

#cupon-modal < .modal-dialog {
  width: 320px;
  top: calc(50vh - 162px);
}
#cupon-modal .modal-title {
  font-size: 22px;
  color: #4d4d4d;
  font-weight: normal;
  font-family: Calibri, "CalibriRegular", "Gill Sans", Verdana, Arial;  
}
#cupon-modal .modal-body p {
  color: #32bafa;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
  font-family: Calibri, "CalibriRegular", "Gill Sans", Verdana, Arial;
}
.cupon-modal-input {
  width: 224px;
  height: 36px;
  margin: 0 auto;
  border: 1px solid #8b8b8b;
}
#cupon-modal .modal-footer button {
  width: 108px; 
  padding: 4px 12px;
  height: 36px;
}

/* thank-you-view-responsive style */

#thank-you-view-responsive {
  padding-top: 220px;
}
.thank-you-content-container {
  width: 420px;
  margin: 0 auto;
}
.thank-you-header {
  color: #92aaaa;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 32px;
  font-weight: 600;
}
.thank-you-content-text p {
  color: #92aaaa;
  font-size: 17px;
  line-height: 17px;
  font-family: Calibri, "CalibriRegular", "Gill Sans", Verdana, Arial;
}
.thank-you-content-text p.thank-you-second-paragraph {
  margin-bottom: -4px;
}
.thank-you-if-no-mail-text {
  color: gray;
  font-size: 12px;
}
.thank-you-buttons-row {
  margin-top: 28px;
}
.thank-you-buttons-row button {
  padding: 0;
  height: 36px;
  margin: 12px 0;
  line-height: 36px;
  border: 1px solid #8b8b8b;
}
.thank-you-buttons-row button.white-button {
  width: 172px;
}
.thank-you-buttons-row button.next-button {
  width: 200px;
}
/* slider-shop-view-responsive style */

#slider-shop-view-responsive {
  height: 78vw;
  margin: 0;
}
.rn-carousel-control.rn-carousel-control-next,
.rn-carousel-control.rn-carousel-control-prev {
  top: 52vw;
  width: 72px;
  height: 80px;
  color: #fff;
  font-size: 34px;
  line-height: 80px;
  text-align: center;
  background-color: rgba(0,0,0,.5);
}
.rn-carousel-control.rn-carousel-control-next {
  right: 1.5%;
  border-radius: 6px 0 0 6px;
}
.rn-carousel-control.rn-carousel-control-prev {
  left: 1.5%;
  border-radius: 0 6px 6px 0;
}
.slider-shop-product-container {
  
}
.slider-shop-top-part,
.slider-shop-bottom-part {
  background-color: rgba(0,0,0,0.5);
}
.slider-shop-top-part {
  height: 59vw;
}
.slider-shop-bottom-part {
  height: 19vw;
}
.slider-shop-top-back-image,
.slider-shop-bottom-back-image {
  position: relative;
  width: 97%;
  left: 1.5%;
  z-index: 1;
}
.slider-shop-top-back-image {
  height: 98%;
  top: 2%;
  border-radius: 4px 4px 0 0;
}
.slider-shop-bottom-back-image {
  height: 86%;
  top: 8%;
}
.slider-shop-product-info {
  position: absolute;
  width: 300px;
  top: 20px;
  left: 1.5%;
  z-index: 100;
  color: white;
  text-align: center;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 0 6px 6px 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.product-info-top {
  font-size: 26px;
  line-height: 36px;
}
.product-info-bottom {
  font-size: 18px;
  line-height: 28px;
}
.slider-shop-product-inner-image-container {
  position: absolute;
  z-index: 0;
}
.slider-shop-product-inner-image-container img {
  width: 100%;
}
.slider-shop-bottom-button {
  position: absolute;
  width: 30vw;
  min-width: 160px;
  max-width: 220px;
  height: 45px;
  left: 60vw;
  top: 65vw;
  color: #fff;
  z-index: 10;
  font-size: 18px;
  line-height: 45px;
  text-align: center;
  border-radius: 4px;
  background-color: #FF7A01;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}

.error-text {
  color: #E53935
}

.error-input {
  color: #E53935;
  border: 1px solid #E53935;
}

.btn-rotate{
  margin-left: 10px;
  height: 30px;
  background-color: #32bafa;
  color: #fff;
  margin: auto;
}

.slider-shop-description-box {
  position:absolute;
  left: auto;
  top: 32px;
  color: #fff;
  padding: 4px 20px;
  opacity: 0.7;
  background: rgba(5,5,8,0.7);
}
.mobile-slider-product-box .slider-shop-description-box {
  left: 0;
}

.slider-shop-description-price {
  margin: 10px 0;
}

.slider-shop-next-back-button {
  position: absolute; 
  color:#fff;
  width: 40px;
  height: 80px;
  line-height: 80px;
  padding: 0px 8px;
  font-size:24px;
  cursor:pointer;
  background:rgba(5,5,8,0.4);
}
.slider-shop-next-back-button.back {
  left:15px;
  border-radius: 0 4px 4px 0;
}
.slider-shop-next-back-button.next {
  right:15px;
  border-radius: 4px 0 0 4px;
}
.slider-shop-continue-button-container {
  padding: 13px 0;
}
.slider-shop-continue-button {
  float: right;
  width: 140px;
  z-index: 10;
}
.slider-shop-continue-button:hover {
  opacity: .65;
}


.mobile-slider-product-box {
  margin-bottom: 20px;
}

#shop-view-responsive.mobile .slider-shop-continue-button {
  position: absolute;
  right: 10px;
  bottom: 8px;
}

/* invitation-background-choose-button */
.invitation-background-choose-button {
  padding: 4px;
  border-radius: 2px;
  background-color: #f9f9f9;
  border: solid 2px transparent;
  transition: border 200ms ease-out;
}
.invitation-background-choose-button:hover {
  border: solid 2px #a288bf; 
}

.invitation-background-choose-button.active {
  border: solid 2px red;
}

.invitation-background-choose-inner {
  width: 28px;
  height: 36px;
}

.params-inputs-container {
  display: inline-flex; 
}
.params-checkbox-container:not(:first-child) {
  padding-left: 12px;
}
.params-checkbox-container label {
  display: flex;
}
.params-checkbox-container input[type="radio"] {
  margin-right: 4px;
}

.params-inputs-container textarea {
  min-width: 160px; 
  min-height: 72px;
}
/*================
    @media style
  ================*/

@media screen and (min-width:768px) {
  .checkout-view-details-container {
    padding-left: 5%;
  }
  .preview-product-details {
    padding-left: 0;
    padding-right: 52px;
  }
}
@media screen and (max-width:767px) {
  #preview-view-responsive {
    padding-top: 44px;
  }
  .preview-product-details {
    float: none;    
    margin: 0 auto;
    padding-top: 0;
  }
  .preview-product-border {
    width: 100%;
    float: none;    
    margin: 0 auto;
  }
  .preview-product-border div:first-child {
    margin: 0 auto;
  }
  .preview-bullet-list li {
    font-size: 17px;
    line-height: 17px;
    padding-right: 0;
  }
  .preview-next-row {
    bottom: auto;
    margin-top: 12px;
  }
  #preview-view-responsive .next-button {
    width: 84%;
    left: 8%;
    top: 0;
    margin: 20px 0;    
  }
  #order-details-view-responsive  .next-button {
    width: 100%;
  }
  .edit-header {
    text-align: left;
  }
  .order-details-input {
    margin-bottom: 0;
  }
  #checkout-view-responsive .pay-flow-product-thumbnail {
    margin-top: 0px;
  }
  .checkout-view-header {
    font-size:23px;
    margin-top: 0;
    padding-bottom: 0;
  }
  #thank-you-view-responsive {
    padding: 148px 16% 0;
  }
  .thank-you-content-container {
    width: auto;
  }
  #checkout-view-responsive {
    padding: 72px 28px 0 28px;
  }
}
@media screen and (max-width:640px) {
  .thank-you-button-container {
    width: 100%;
  }
  .header-logo-image-container {
    left: 32px;
  }
}
@media screen and (max-width: 435px) {
  .hide-on-mobile {
    display: none;
    height: 0;
  }
  .crop-controls .crop-control-button {
    height: 50px;
    line-height: 50px;
  }
  #edit-view-responsive,
  #edit-view-responsive .edit-crop-controls-container,
  #edit-view-responsive .edit-image-outer-container {
    padding: 0;
  }
  .store-header {
    font-size:12px;
  }
  .header-logo-image-container {
    left: 52px;
  }
  .header-logo-image {
    width: 14vw;
    min-width: 54px;
    height: auto;
    max-height: 30px;
    margin-left:-20px;
  }
  .user-messaging {
    font-size: 12px;
  }
  .shop-view-product-container {
    width: 100%;
  }
  .order-details-header {
    font-size: 24px;
    margin-bottom: 0px;
    border-bottom: none;
  }
  #order-details-view-responsive .form-group {
    margin-bottom: 12px;
  }
  .order-details-input {
    height: 28px;
    padding-top: 2px;
  }  
  .checkout-view-responsive .pay-flow-product-thumbnail {
    margin-top: 8px;
  }
  .thank-you-buttons-row button {
    width: 100% !important;
  }
}
@media screen and (max-width: 375px) {
  .preview-details-header {
    margin-bottom: 4px;
  }
  .preview-bullet-list li {
    line-height: 16px;
    margin-bottom: 8px;
  }
  #order-details-view-responsive {
    padding: 100px 32px 20px;
  }
  #checkout-view-responsive {
    padding: 56px 32px 0;
  }
  .order-details-header {
    font-size: 22px;
  }
  #order-details-view-responsive .form-group {
    margin-bottom: 8px;
  }
  #checkout-view-responsive .pay-flow-product-thumbnail {
    margin-top: 16px;
  }
  .checkout-view-header {
    font-size: 28px;
    line-height: 38px;
    margin-top: 8px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  #checkout-view-responsive .radio-inline+.radio-inline {
    margin-left: 0;
  }
  .checkout-view-price-row {
    padding: 4px 8px 4px 0;
  }
}
@media screen and (max-width: 320px) {
  .order-details-header {
    font-size: 20px;
    margin-bottom: -6px;
  }
  #order-details-view-responsive .form-group {
    margin-bottom: 4px;
  }
  #order-details-view-responsive .checkbox label {
    line-height: 12px;
  }
  .checkout-view-header {
    font-size: 22px;
    line-height: 32px;
    margin-top: 4px;
    margin-bottom: 0;
    padding-bottom: 0;
  }  
  .express-shipping-checkbox-lable {
    margin-left: 0 !important;
  }
  .checkout-view-price-row {
    padding: 4px 8px 4px 0;
  }
  .checkout-old-price {
    margin-right: 16px;
  }
  .checkout-total-title {
    margin-right: 0;
  }
  .checkout-cupon-modal-button {
    padding: 4px 0;
  }
  .checkout-pay-buttons-row {
    margin-top: 20px;
  }
  .checkout-pay-button {
    height: 48px;
    margin: 4px auto;
  }
}






