<canvas  id="canvas" width=1000 height=800 style="display:none"></canvas>
<amazing-loader loader-color="loaderColor" loader-is-active="loading"></amazing-loader>
<div id="edit-view-responsive" class="row" style="margin:0" ng-if="editMode">     
    
    <h2 class="edit-header hide-on-mobile">
        {{brandingData.branding.screens.edit.title}}
    </h2>
    <div class="col-lg-8 col-lg-offset-2 col-xs-12 edit-crop-controls-container visible-xs" >
        <ul class="crop-controls horizontal">
            <li>
                <button class="crop-control-button" ng-click="triggerZoom(1.05)">
                    <img src="https://pixter-loader-assets.s3.amazonaws.com/1_8_1_stg/files/images/cropZoomIn.png">
                </button>
            </li>
            <li>
                <button class="crop-control-button" ng-click="triggerZoom(0.95)">
                    <img src="https://pixter-loader-assets.s3.amazonaws.com/1_8_1_stg/files/images/cropZoomOut.png">
                </button>
            </li>
            <li>
                <button class="crop-control-button" ng-click="startRotateLoader(-90)">
                    <img src="https://pixter-loader-assets.s3.amazonaws.com/1_8_1_stg/files/images/cropRotateLeft.png">
                </button>
            </li>
            <li>
                <button class="crop-control-button" ng-click="startRotateLoader(90)">
                    <img src="https://pixter-loader-assets.s3.amazonaws.com/1_8_1_stg/files/images/cropRotateLeft.png" class="rotate-right">
                </button>
            </li>
        </ul>
    </div>                
    <div class="col-lg-8 col-lg-offset-2 col-xs-12 edit-image-outer-container" style="min-height:{{tmbWidth}}px">
        <amazing-loader loader-color="loaderColor" loader-is-active="vm.showLoader"></amazing-loader>
        <div class="crop-image-container" ng-show="!vm.showLoader">
            <div class="edit-image-inner-container" >
                <div ng-style="imageStyle">
                    <div   on-drag="onDrag($event)" on-release="onRelease($event)" style="height:{{product.tmbHeight}}px;width:{{product.tmbWidth}}px;background:url('{{product.image}}');background-size:{{product.tmbWidth}}px {{product.tmbHeight}}px"> 

                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="col-lg-8 col-lg-offset-2 col-xs-12 edit-bottom-buttons-container" style="margin:0px;padding:0px;">
        <div class="revert-changes-button">
    <!--        <img src="https://pixter-loader-assets.s3.amazonaws.com/1_8_1_stg/files/images/revertCrop.png">
            <span style="text-decoration: underline">
                Revert changes
            </span>
            -->
        </div>
        <div class="col-lg-8 col-lg-offset-2 col-xs-12 edit-crop-controls-container hidden-xs" >
            <ul class="crop-controls horizontal">
                <li class="crop-control-button" ng-click="triggerZoom(1.05)">
                    <img src="https://pixter-loader-assets.s3.amazonaws.com/1_8_1_stg/files/images/cropZoomIn.png">
                </li>
                <li class="crop-control-button" ng-click="triggerZoom(0.95)">
                    <img src="https://pixter-loader-assets.s3.amazonaws.com/1_8_1_stg/files/images/cropZoomOut.png">
                </li>
                <li class="crop-control-button" ng-click="startRotateLoader(-90)">
                    <img src="https://pixter-loader-assets.s3.amazonaws.com/1_8_1_stg/files/images/cropRotateLeft.png">
                </li>
                <li class="crop-control-button" ng-click="startRotateLoader(90)">
                    <img src="https://pixter-loader-assets.s3.amazonaws.com/1_8_1_stg/files/images/cropRotateLeft.png" class="rotate-right">
                </li>
            </ul>
        </div>                


        <button class="revert-changes-button" ng-click="revertChanges()">
            <i class="glyphicon glyphicon-share-alt"></i>
            {{$root.translate('Revert changes')}}
        </button>
        <div class="pull-right right-buttons-group">
            <button class="btn white-button" ng-click="editCancel()">{{$root.translate('Cancel')}}</button>
            <button class="btn next-button" ng-style="branding.generalButton" ng-click="applyChanges                        
                                (backgroundPosition.left,
                                backgroundPosition.top,
                                backgroundSize.h,
                                backgroundSize.w,
                                imageSizeRatio)">
                {{$root.translate('Applt')}}
            </button>
        </div>
    </div>       

</div>
<div ng-if="catalogMode && !loading" style="height:{{product.tmbHeight}}px;width:{{product.tmbWidth}}px;overflow:hidden;position:absolute;left: calc(50% - {{product.tmbWidth/2}}px);">

    <div ng-style="imageStyle"></div>

    <div id="product-box-{{product.type}}" on-drag="onDrag($event)" on-release="onRelease($event)" style="height:{{product.tmbHeight}}px;
                    width:{{product.tmbWidth}}px;
                    background:url('{{product.image}}');
                    background-size:{{product.tmbWidth + 4}}px {{product.tmbHeight + 4}}px;
                    position: absolute;
                    background-position: -2px;"> 
    </div>
</div>


<div ng-style="imageStyle" ng-if="!editMode && !catalogMode && !backSideFlag && !loading" >
    <div   on-drag="onDrag($event)" on-release="onRelease($event)" style="height:{{product.tmbHeight}}px;width:{{product.tmbWidth}}px;background:url('{{product.image}}');background-size:{{product.tmbWidth}}px {{product.tmbHeight}}px"> 
    </div>
</div>
