<section class="what-is-pixter">
    <div class="header">
        <h1 class="page-title">##What is Pixter.me?##</h1>
        <select class="language-select" id="languageSelect">
            <option value="en_US">English</option>
            <option value="es_ES">Español</option>
        </select>
        <select class="currency-select" id="currencySelect">
            <!--Options will be created with javascript (function createCurrenciesOptions)-->
        </select>
    </div>
    <div class="content">
        <p>##Pixter.me brings photo-products to your hands.##</p>
        <p class="mb-1em">
            ##It takes a few simple steps and your selected Image can be ordered as a beautiful photo-product and then produced and shipped to your doorstep.##
        </p>
        <p class="mb-1em">
            ##We take great care to provide users with the highest level of products and service and would be happy to have your feedbacks anytime.##
        </p>
        <p class="mb-1em">
            ##Enjoy!##
        </p>
    </div>
    <div class="button-container">
        <a href="#" id="WhatIsPixterBackBtn" class="p_Button pub-brand-buttons">##OK##</a>
    </div>
    <div class="copyright-container">
        <div class="copyright">
            <a href="https://www.pixter.me/privacy_policy.html" target="_blank">##Privacy Policy##</a> |
            <a href="https://www.pixter.me/terms_of_use.html" target="_blank">##Terms of Use##</a> |
            <a href="https://www.pixter.me/store/faq/" target="_blank">##FAQ##</a> |
            <a href="https://www.pixter.me/support-mini.html" target="_blank">##Support##</a>
        </div>
    </div>
</section>