<div id="cupon-modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="vm.dismiss()">&times;
        </button>
        <h2 class="modal-title">{{translate('Have a coupon?')}}</h2>
    </div>
    <div class="modal-body" ng-show="!vm.successMessage">        
        <p style="color:{{brandingStyle.header.color}}">
            {{translate('Paste in your coupon code')}}
        </p>
        <div class="form-group">
            <input type="text" class="form-control cupon-modal-input" ng-model="vm.couponString" name="cupon_code">
            <span class="cupon-modal-input" style="color:red;margin-left: 31%;border:0px">{{vm.error}}</span>
        </div>

    </div>
    <div class="modal-footer" style="text-align:center" ng-show="!vm.successMessage">
        <div class="row">
            <button type="button" class="btn white-button" ng-click="vm.dismiss()">
                {{translate('Cancel')}}
            </button>            
            <button type="button" class="btn next-button" ng-style="brandingStyle.generalButton" ng-click="vm.apply()">
                {{translate('OK')}}
            </button>
        </div>
    </div>
    <div class="modal-body" ng-show="vm.successMessage">        
        <h4 style="color:{{brandingStyle.header.color}}">{{vm.successMessage}}</h4>
    </div>
</div>
