<div id="checkout-view-responsive" class="row">
    <div class="col-sm-3 col-xs-12">
        <div class="pay-flow-product-thumbnail">
            <product-image-display class="shop-view-product-image-display" product="currentProduct.images['Preview']" image-url="imageUrl"
                                   tmb-width="tmbWidth" catalog-mode="true">
            </product-image-display>
            
        </div>
    </div>
    <div class="col-sm-9 col-xs-12 checkout-view-details-container">
        <div class="row checkout-view-header">
            {{currentProduct.shortname}}
        </div>
        <div class="row checkout-view-price-row">
            <span class="checkout-price-title">
                Product Price:
            </span>
            <div class="pull-right">
                <span class="checkout-price checkout-old-price" ng-show="vm.getDiscountProductPrice() < currentProduct.finalPrice.price">
                    {{currencySymbol}}{{currentProduct.finalPrice.price | number : 2}} 
                </span>
                <span class="checkout-price checkout-new-price">
                    {{currencySymbol}}{{vm.getDiscountProductPrice() | number : 2}} 
                </span>
            </div>
        </div>
        <div class="row checkout-view-price-row">
            <div>
                <span class="checkout-price-title bigger-title">
                   shipping method:
                </span>
                <div class="pull-right">
                    <span class="checkout-price checkout-old-price" ng-show="vm.getDiscountShippingPrice() < vm.shipmentMethod.price">
                        {{currencySymbol}}{{vm.shipmentMethod.price}}
                    </span>
                    <span class="checkout-price checkout-new-price">
                        {{currencySymbol}}{{vm.getDiscountShippingPrice()}} 
                    </span>
                </div>
            </div>
            <!--<div ng-if="vm.shipmentMethod == 'express'">-->
                <!--<span class="checkout-price-title bigger-title">-->
                    <!--Express Shipping-->
                <!--</span>-->
                <!--<div class="pull-right">-->
                    <!--<span class="checkout-price checkout-old-price">-->
                        <!--$13.94-->
                    <!--</span>-->
                    <!--<span class="checkout-price checkout-new-price">-->
                        <!--$0.00-->
                    <!--</span>-->
                <!--</div>-->
            <!--</div>-->
            <div class="checkout-shipping-method-info">
                {{vm.shipmentMethod.text}}
            </div>
            <label class="radio-inline" ng-repeat="shipmentMethod in vm.shipmentMethods">
                <input type="radio" name="ship-method-radios" ng-model="vm.shipmentMethod" ng-value="shipmentMethod">
                    <span class="checkout-ship-type-radio-text">
                        {{shipmentMethod.type}}
                    </span> 
            </label>
            <!--<label class="radio-inline express-shipping-checkbox-lable">-->
                <!--<input type="radio" name="ship-method-radios" ng-model="vm.shipmentMethod" value="express">-->
                    <!--<span class="checkout-ship-type-radio-text">-->
                        <!--express shipping-->
                    <!--</span> -->
            <!--</label>-->
        </div>
        <div class="row checkout-view-price-row">
            <span class="checkout-price-title" 
                ng-show="(vm.getDiscountProductPrice() < currentProduct.finalPrice.price) || (vm.getDiscountShippingPrice() < vm.shipmentMethod.price)"
                >
                You saved:
            </span>
             <span class="checkout-price checkout-saved-price"
                ng-show="(vm.getDiscountProductPrice() < currentProduct.finalPrice.price) || (vm.getDiscountShippingPrice() < vm.shipmentMethod.price)"
             >
                 <span>{{currencySymbol}}{{vm.getSaving() | number : 2}}</span>
            </span>
            <div class="pull-right">
                <span class="checkout-price-title bigger-title checkout-total-title">
                    Total:
                </span>
                 <span class="checkout-price checkout-total-price">
                    {{currencySymbol}}{{vm.getTotal() | number : 2}}
                </span>
            </div>
        </div>
        <div class="row">
            <div class="checkout-cupon-modal-button" ng-click="vm.openCuponModal()">Have A Coupon?</div>
        </div>
        <div class="row checkout-pay-buttons-row" dir="ltr">
            <div ng-if="vm.getTotal()">
                <div class="col-sm-6 col-xs-12">
                    <div class="checkout-pay-button credit" ng-click="vm.checkout('cc')"></div>
                </div>
                <div class="col-sm-6 col-xs-12"><!-- col-xs-6 col-xs-offset-6 col-xs-pull-6 col-sm-offset-0 col-sm-pull-0 -->
                    <div class="checkout-pay-button paypal" ng-click="vm.checkout('paypal')"></div>
                </div>
            </div>
            <div ng-if="!vm.getTotal()">
                <div class="btn">Buy Now</div>
            </div>
        </div>
    </div>
</div>