<div id="cupon-modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="vm.dismiss()">&times;
        </button>
        <h4 class="modal-title">What is Pixter.me?</h4>
    </div>
    <div class="modal-body">
        <p>
            Pixter.me brings photo-products to your hands.<br>
            It takes a few simple steps and your selected Image can be ordered as a beautiful photo-product and then produced and shipped to your doorstep
        </p>
        <p>
            We take great care to provide users with the highest level of products and service and would be happy to have your feedbacks anytime.
        </p>
        <p>
            Enjoy!
        </p>
    </div>
    <div class="modal-footer" style="text-align:center">
        <div class="row">
            <button type="button" class="btn next-button" ng-click="vm.close()">
                OK
            </button>
        </div>
        <ul class="learn-more-modal-links">
            <li>
                <a href="https://www.pixter.me/privacy_policy.html" target="_blank">
                    Privacy Policy
                </a>
            </li>
            <li>
                <a href="https://www.pixter.me/terms_of_use.html" target="_blank">
                    Terms of Use
                </a>
            </li>
            <li>
                <a href="https://www.pixter.me/store/faq/" target="_blank">
                    FAQ
                </a>
            </li>
            <li>
                <a href="https://www.pixter.me/support-mini.html" target="_blank">
                    Support
                </a>
            </li>
        </ul>
    </div>
</div>
