<div id="pixter-responsive-store">
    <div class="row store_header">
        <div class="col-xs-6 col-xs-offset-3">
            EDIT YOUR IMAGE
        </div>
        <div class="col-xs-3">
            <a href="" class="learn-more">?</a>
            <a href="" class="close-btn">Close</a>
        </div>
    </div>
    <div class="user-messaging">            
        Summer Sale Special - 
        <span class="colorizedSpan">
            40% OFF
        </span>
         on 
         <span class="colorizedSpan">
            all products
        </span>            
    </div>

    <div id="edit-view-responsive">            
        <h2 class="edit-header">
            You can resize and move the picture to your liking
        </h2>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                <ul class="crop-controls horizontal">
                    <li class="crop-control-button">
                        <img src="https://pixter-loader-assets.s3.amazonaws.com/1_8_1_stg/files/images/cropZoomIn.png">
                    </li>
                    <li class="crop-control-button">
                        <img src="https://pixter-loader-assets.s3.amazonaws.com/1_8_1_stg/files/images/cropZoomOut.png">
                    </li>
                    <li class="crop-control-button">
                        <img src="https://pixter-loader-assets.s3.amazonaws.com/1_8_1_stg/files/images/cropRotateLeft.png">
                    </li>
                    <li class="crop-control-button">
                        <img src="https://pixter-loader-assets.s3.amazonaws.com/1_8_1_stg/files/images/cropRotateLeft.png" class="rotate-right">
                    </li>
                </ul>
            </div>                
            <div class="col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                <div class="crop-image-container">
                    <div class="image-inner-container">
                        <img src="app/images/image1.jpg" style="width:100%">
                    </div>
                </div>
            </div>
            <!-- <div class="col-sm-3 col-xs-2 crop-outer-container">
                <ul class="crop-controls">
                    <li class="crop-control-button">
                        <img src="cropZoomIn.png">
                    </li>
                    <li class="crop-control-button">
                        <img src="cropZoomOut.png">
                    </li>
                    <li class="crop-control-button">
                        <img src="cropRotateLeft.png">
                    </li>
                    <li class="crop-control-button">
                        <img src="cropRotateLeft.png" class="rotate-right">
                    </li>
                </ul>
            </div> -->
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 edit-bottom-buttons-container">
                <div class="revert-changes-button">
                    <img src="https://pixter-loader-assets.s3.amazonaws.com/1_8_1_stg/files/images/revertCrop.png">
                    <span style="text-decoration: underline">
                        Revert changes
                    </span>
                </div>
                <div class="pull-right right-buttons-group">
                    <div class="white-button">Cancel</div>
                    <div class="next-button">Apply</div>
                </div>
            </div>   
        </div>
    </div>
        
</div>
