
<product-image-display zoom="zoom" editMode="true" product="currentProduct" with-canvas="true" image-url="imageUrl" tmbWidth="380">
</product-image-display>

<div class="col-lg-8 col-lg-offset-2 col-xs-12 edit-bottom-buttons-container">
    <div class="revert-changes-button">
        <img src="https://pixter-loader-assets.s3.amazonaws.com/1_8_1_stg/files/images/revertCrop.png">
        <span style="text-decoration: underline">
            Revert changes
        </span>
    </div>
    <div class="pull-right right-buttons-group">
        <button class="btn white-button" ui-sref="app.preview">Cancel</button>
        <button class="btn next-button">Apply</button>
    </div>
</div>   
