<div id="learn-more-modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="vm.dismiss()">&times;
        </button>
        <h4 class="modal-title">{{translate('What is Pixter.me?')}}</h4>
        <div class="pull-right">
            <select id="languageSelect" ng-model="vm.lang">
                <option value="en_US" selected>English</option>
                    <option value="es_ES">Español</option>
            </select>
            <select id="currencySelect" ng-model="vm.currencyCode">
                <option id="currencyOption_0" value="USD" selected>$ USD</option>
                    <option id="currencyOption_1"  value="EUR">€ EUR</option>
            </select>
        </div>
    </div>
    <div class="modal-body">
        <p>
            {{translate('Pixter.me brings photo-products to your hands.')}}<br>
            {{translate('It takes a few simple steps and your selected Image can be ordered as a beautiful photo-product and then produced and shipped to your doorstep')}}
        </p>
        <p>
            {{translate('We take great care to provide users with the highest level of products and service and would be happy to have your feedbacks anytime.')}}
        </p>
        <p>
            {{translate('Enjoy!')}}
        </p>
    </div>
    <div class="modal-footer" style="text-align:center">
        <div class="row">
            <button type="button" class="btn next-button" ng-style="$root.brandingStyle.generalButton" ng-click="vm.close()">
                {{translate('OK')}}
            </button>
        </div>
        <ul class="learn-more-modal-links">
            <li>
                <a href="https://www.pixter.me/privacy_policy.html" target="_blank">
                    {{translate('Privacy Policy')}}
                </a>
            </li>
            <li>
                <a href="https://www.pixter.me/terms_of_use.html" target="_blank">
                    {{translate('Terms of Use')}}
                </a>
            </li>
            <li>
                <a href="https://www.pixter.me/store/faq/" target="_blank">
                    {{translate('FAQ')}}
                </a>
            </li>
            <li>
                <a href="https://www.pixter.me/support-mini.html" target="_blank">
                    {{translate('Support')}}
                </a>
            </li>
        </ul>
    </div>
</div>
