<div id="pixter-responsive-store">
    <div class="row store-header" style="margin:0" ng-class="{'hide-on-mobile': vm.state.current.name == 'app.edit'}">
        <div class="col-xs-3">
            <div class="store-header-back-button" ng-if="!vm.stateIsShop()" ng-click="vm.goBack()">
                <span><</span>
            </div>
        </div>
        <div class="col-xs-12">
            {{ vm.getViewHeader() }}    
        </div>
        <div class="store-header-buttons-container">
            <button class="store-header-learn-more-button" ng-click="vm.learnMore()">?</button>
            <button class="store-header-close-button" ng-click="vm.close()">Close</button>
        </div>
        <div class="col-xs-12 user-messaging">
            Summer Sale Special - 
            <span class="colorizedSpan">
                40% OFF
            </span>
             on 
             <span class="colorizedSpan">
                all products
            </span>            
        </div>
    </div>
    <div ui-view="main"></div>
</div>