<div id="order-details-view-responsive">
    <form name="vm.form" novalidate>
        <div class="visible-xs">
              <h5>{{currentProduct.shortName}}</h5>
        </div>
        <div class="order-details-header">
            Contact Information 
        </div>
        <div class="row order-details-personal-information">
            <div class="col-sm-6 col-xs-12">
                <div>
                    <div class="form-group">
                        <input type="text" class="form-control order-details-input" name="user_name" placeholder="Full Name*"
                               ng-model="order.user_name"
                               required
                               ng-class="!vm.form.user_name.$valid && vm.form.$submitted ? 'error-input' : ''"/>
                    </div>
                    <div class="form-group error-text" ng-show="vm.form.$submitted">
                       <!--  <div ng-show="vm.form.user_name.$error.required">Required Field</div> -->
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control order-details-input" name="user_email" placeholder="E-Mail*" 
                               ng-model="order.user_email"
                               required
                               ng-class="!vm.form.user_email.$valid && vm.form.$submitted ? 'error-input' : ''"/>
                    </div>
                    <div class="form-group error-text" ng-show="vm.form.$submitted">
                 <!--        <div ng-show="vm.form.user_email.$error.required">Required Field</div>
                        <div ng-show="vm.form.user_email.$error.email">Please type valid email</div> -->
                    </div>
                </div>
                
            </div>
            <div class="col-sm-6 hidden-xs">
                <div class="pay-flow-product-thumbnail">
                    <product-image-display class="shop-view-product-image-display" product="currentProduct[currentProduct.display.image_orientation]['Preview']" catalog-mode="true"  image-url="imageUrl" tmb-width="tmbWidth" >
                    </product-image-display>
                </div>
            </div>
        </div>
        <div class="order-details-header">
            Shipping Address
        </div>
        <div class="row order-details-personal-information">
            <div class="col-sm-6 col-xs-12">
                <div>
                    <div class="form-group">
                        <input type="text" class="form-control order-details-input" name="recipient_name"
                               ng-model="order.recipient_name"
                               placeholder="Recipient Name*"
                               required 
                               ng-class="!vm.form.recipient_name.$valid && vm.form.$submitted ? 'error-input' : ''"/>
                    </div>
                    <div class="form-group error-text" ng-show="vm.form.$submitted">
                 <!--        <div ng-show="vm.form.recipient_name.$error.required">Required Field</div> -->
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control order-details-input" name="address" placeholder="Address 1*"
                               ng-model="order.address" 
                               required 
                               ng-class="!vm.form.address.$valid && vm.form.$submitted ? 'error-input' : ''"/>
                        <div class="form-group error-text" ng-show="vm.form.$submitted">
              <!--           <div ng-show="vm.form.address.$error.required">Required Field</div> -->
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control order-details-input" name="address2" placeholder="Address 2"
                               ng-model="order.address2"/>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div>
                    <div class="form-group">
                        <input type="text" class="form-control order-details-input" name="city" placeholder="City*"
                               ng-model="order.city"
                               required 
                               ng-class="!vm.form.city.$valid && vm.form.$submitted ? 'error-input' : ''"/>
                        <div class="form-group error-text" ng-show="vm.form.$submitted">
                         <!--    <div ng-show="vm.form.city.$error.required">Required Field</div> -->
                        </div>
                    </div>
                    <div class="form-group order-details-state-zip-inputs">
                        <input type="text" class="form-control order-details-input" style="width:59%; margin-bottom:0"
                               ng-model="order.state"
                               name="state;" placeholder="State"/>
                        <div>                          
                          <input type="text" class="form-control order-details-input"
                                 ng-model="order.zip"
                                 style="width:98%; margin-left: 2%; margin-bottom:0"                                 
                                 name="zip" id="p_ZipInput"
                                 placeholder="ZIP*"
                                 required 
                                 ng-class="!vm.form.zip.$valid && vm.form.$submitted ? 'error-input' : ''" />
                            <div class="error-text" ng-show="vm.form.$submitted">
                               <!--  <div ng-show="vm.form.zip.$error.required">Required Field</div> -->
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control order-details-input" name="telephoneNo" placeholder="Telephone Number"
                               ng-model="order.telephoneNo"/>
                    </div>                                  

                    <div class="form-group" ng-show="countries.length > 1">    
                        <select class="order-details-input country-select" ng-model="order.country" 
                                ng-options="country.name for country in countries  " >
                        </select>
                    </div>
                  
                </div>
            </div>
            <div class="col-sm-8 col-xs-12 checkbox">
                <label ng-class="!order.TOC && vm.form.$submitted ? 'error-text' : ''">
                    <input type="checkbox"
                           ng-model="order.TOC"
                           required
                           name="terms" />
                        I agree to the <a target="_blank" href="http://pixter.me/terms_of_use.html">terms</a> and confirm I have the rights to upload and use the image.
                </label>
                <div class="form-group error-text" ng-show="vm.form.$submitted">
                    <!-- <div ng-show="!order.TOC">You must agree to the terms</div> -->
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
               <div class="form-group error-text" ng-show="!vm.form.$valid && showErrorMessage" style="position:absolute ; top:-20px">Please fill in the highlighted fields</div>
                <button type="submit" class="btn next-button" ng-style="brandingStyle.generalButton" ng-click="vm.goToCheckout()">Next</button>
            </div>
        </div>
    </form>
</div>