<div id="preview-view-responsive" class="row" style="margin:0">

    <div class="col-sm-5 col-xs-12 preview-product-image">
        <div class="preview-product-border">
            <product-image-display back-side-flag="bsf"  product="currentProduct[currentProduct.display.image_orientation]['Preview']"  image-url="imageUrl" tmb-width="tmbWidth"  final-step="finalStep" catalog-mode="true" ng-show="!isLoading">
            </product-image-display>
        </div>
        <div class="preview-product-border">
         <!--    <amazing-loader loader-color="brandingData.branding.loader.textcolor" loader-is-active="isLoading"></amazing-loader> -->
        </div>
        <div style="margin-top:{{tmbWidth}}px;">

            <div class="row preview-edit-row">
                <div class="preview-edit-btn pull-left" ng-show="currentProduct.rotate_product.length > 0"   ng-click="findRotatedProduct(currentProduct.rotate_product[0].id)" style="color:{{brandingData.branding.buttons.backgroundcolor}};" >
                    <i class="glyphicon glyphicon-repeat"></i>
                    <span>Rotate</span>
                    
                </div>
                <div class="preview-edit-btn pull-left" 
                    ng-show="currentProduct.rotate_images.Preview && !currentProduct.params"                    
                    ng-click="rotateImage()" 
                    style="color:{{brandingData.branding.buttons.backgroundcolor}};" >
                    <i class="glyphicon glyphicon-repeat"></i>
                    <span>Rotate</span>
                </div>

                <div class="preview-edit-btn" style="color:{{brandingData.branding.buttons.backgroundcolor}};" ng-click="vm.goToEdit()" ng-if="!currentProduct.params && brandingData.behaviour.cropping">
                    <i class="glyphicon glyphicon-scissors"></i>
                    <span>Edit</span>
                </div>

            </div>
            <div ng-if="currentProduct.params" class="row front-back-buttons-row" style="width:{{tmbWidth}}px">
                <div class="btn front-back-button pull-left" ng-style="brandingStyle.generalButton" ng-click="changeBackSideFlag(true)" ng-disabled="bsf">                    
                        Back side
                </div>
                <div class="btn front-back-button pull-right" ng-style="brandingStyle.generalButton" ng-click="changeBackSideFlag(false)" ng-disabled="!bsf">                    
                        Front side
                </div>
            </div>            
        </div>
    </div>
    <div class="col-sm-7 col-xs-12 preview-product-details">
        <div class="preview-details-header">    
            <span ng-show="category.products.length == 1 || !displayDropdown">
                {{currentProduct.name}}
            </span>
            <div class="form-group"  ng-show="category.products.length > 1">       
                <select class="form-control preview-product-select" ng-model="$root.currentProduct" 
                        ng-options="product.shortname for product in productsToDisplay"
                        ng-show="displayDropdown">
                </select>
            </div>
            <!-- ng-show="selectedProduct.pid == selectedProduct.rotate[0]" -->
            <span class="preview-price">
                {{priceCurrencyOrder(currentProduct.finalPrice.price, currencySymbol)}}
            </span>
        </div>

        <div class="col-xs-12 no-padding">        
            <product-params params="currentProduct.params"></product-params>
        </div>
        
        <div class="col-xs-12 hidden-xs" ng-if="!currentProduct.params">
            <ul class="preview-bullet-list">
                <li ng-repeat="bullet in currentProduct.information"><span>{{bullet}}</span></li>
            </ul>
        </div>

        <div class="col-xs-12 visible-xs" ng-if="!currentProduct.params && !vm.seeFullListOnMobile">
            <ul class="preview-bullet-list">
                <li><span>{{currentProduct.information[0]}}</span></li>
            </ul>
            <button class="preview-list-more-button" 
                style="color:{{brandingData.branding.buttons.backgroundcolor}};"
                ng-click="vm.seeFullListOnMobile = !vm.seeFullListOnMobile">
                ... Read More
            </button>
        </div>
        <div class="col-xs-12 visible-xs" ng-if="!currentProduct.params && vm.seeFullListOnMobile">
            <ul class="preview-bullet-list">
                <li ng-repeat="bullet in currentProduct.information"><span>{{bullet}}</span></li>
            </ul>
        </div>
    </div>
    <div class="row no-margin">
        <div class="col-xs-12 col-sm-7 col-sm-offset-5">
            <button class="btn next-button" ng-style="brandingStyle.generalButton" ng-click="vm.goToOrderDetails()">Next</button>
        </div>
    </div>
</div>
