<div id="preview-view-responsive" class="row" style="margin:0">

    <div class="col-sm-6 col-xs-12 preview-product-image">
        <div class="preview-product-border">
            <product-image-display  product="currentProduct"  image-url="imageUrl" tmb-width="tmbWidth"  final-step="finalStep">
            </product-image-display>

            <div class="row preview-edit-row">
                <div class="preview-edit-btn" ng-click="vm.goToEdit()">
                    <i class="glyphicon glyphicon-scissors"></i>
                    <span>Edit</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xs-12 preview-product-details">
        <div class="preview-details-header">    
            <span ng-show="category.products.length == 1">
                {{currentProduct.shortName}}
            </span>
            <div class="form-group" ng-show="category.products.length > 1">       
                <select class="form-control preview-product-select" ng-model="chosenProduct" 
                        ng-options="product.shortName for product in productsToDisplay">
                </select>
            </div>
            <button class="btn btn-rotate" ng-show="selectedProduct.rotate" ng-click="vm.rotateProduct()"><i class="glyphicon glyphicon-repeat"></i></button>
            <!-- ng-show="selectedProduct.pid == selectedProduct.rotate[0]" -->
            <span class="preview-price">
                 {{prices.products[currentProduct.pid].price}} $
            </span>
        </div>
        <ul class="preview-bullet-list">
            <li ng-repeat="bullet in currentProduct.bulletList"><span>{{bullet}}</span></li>
        </ul>

        <!-- <div class="row form-group" ng-show="category.products.length > 1">       
            <select class="form-control" ng-model="selectedProduct" ng-options="product.shortName for product in category.products">
            </select>
        </div> -->

        <div class="row preview-next-row">
            <button class="btn next-button" ng-click="vm.goToOrderDetails()">Next</button>
        </div>


    </div>
</div>
