<div id="preview-view-responsive" class="row" style="margin:0">

    <div class="col-sm-5 col-xs-12 preview-product-image">
        <div class="preview-product-border">
            <product-image-display back-side-flag="bsf"  product="currentProduct.images['Preview']"  image-url="imageUrl" tmb-width="tmbWidth"  final-step="finalStep" >
            </product-image-display>
            <div ng-if="!currentProduct.params" class="row preview-edit-row">
                <!-- <h5 class="chosen-product-title">
                    {{chosenProduct.name}}
                </h5> -->
                <div class="preview-edit-btn" ng-style="brandingStyle.generalButton.color" ng-click="vm.goToEdit()">
                    <i class="glyphicon glyphicon-scissors"></i>
                    <span>Edit1</span>
                </div>
            </div>
            <div ng-if="currentProduct.params" class="row front-back-buttons-row" style="width:{{tmbWidth}}px">
                <div class="btn pull-left" ng-style="brandingStyle.generalButton" ng-click="changeBackSideFlag(true)" ng-disabled="bsf">                    
                        Back side
                </div>
                <div class="btn pull-right" ng-style="brandingStyle.generalButton" ng-click="changeBackSideFlag(false)" ng-disabled="!bsf">                    
                        Front side
                </div>
            </div>            

        </div>
    </div>
    <div class="col-sm-7 col-xs-12 preview-product-details">
        <div class="preview-details-header">    
            <span ng-show="category.products.length == 1 || !displayDropdown">
                {{currentProduct.name}}
            </span>
            <div class="form-group"  ng-show="category.products.length > 1">       
                <select class="form-control preview-product-select" ng-model="chosenProduct" 
                        ng-options="product.shortname for product in category.products"
                        ng-show="displayDropdown">
                </select>
            </div>
            <button class="btn btn-rotate"  style="margin-top:1px;margin-left:3px;" ng-show="currentProduct.rotate_product.length > 0" ng-click="findRotatedProduct(currentProduct.rotate_product[0].id)"><i class="glyphicon glyphicon-repeat"></i></button>
            <!-- ng-show="selectedProduct.pid == selectedProduct.rotate[0]" -->
            <span class="preview-price">
                {{currentProduct.quantities[0].price}}{{currencySymbol}}
            </span>
        </div>

        <div class="col-xs-12">        
            <product-params params="currentProduct.params"></product-params>
        </div>
        <div class="col-xs-12" ng-if="!currentProduct.params">
            <ul class="preview-bullet-list">
                <li ng-repeat="bullet in currentProduct.information"><span>{{bullet}}</span></li>
            </ul>
        </div>

        <!-- <div class="row form-group" ng-show="category.products.length > 1">       
            <select class="form-control" ng-model="selectedProduct" ng-options="product.shortName for product in category.products">
            </select>
        </div> -->



    </div>
    <div class="row no-margin">
        <div class="col-xs-12 col-sm-7 col-sm-offset-5">
            <button class="btn next-button" ng-style="brandingStyle.generalButton" ng-click="vm.goToOrderDetails()">Next</button>
        </div>
    </div>
</div>
