<div id="shop-view-responsive" class="row" style="margin:0">
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 product">
        <div class="product_cover_image" style="background-image: url('https://pixter-loader-assets.s3.amazonaws.com/1_8_1_stg/files/images/magnet/preview3x3.png')">
        </div>
        <div class="image_thumbnail">
            <img class="product_inner-image" ng-src="{{sourceImg}}">
        </div>
        <div class="product-data">
            <span class="product-name">4 Magnets</span>
            <span class="product-price">$6.99</span>
        </div>
        <div class="product-buy-now">
            <a href="#" class="next-button">Next</a>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 product">
        <div class="product_cover_image" style="background-image: url('https://pixter-loader-assets.s3.amazonaws.com/1_8_1_stg/files/images/magnet/preview3x3.png')">
        </div>
        <div class="image_thumbnail">
            <img class="product_inner-image" ng-src="{{sourceImg}}">
        </div>
        <div class="product-data">
            <span class="product-name">4 Magnets</span>
            <span class="product-price">$6.99</span>
        </div>
        <div class="product-buy-now">
            <a href="#" class="next-button">Next</a>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 product">
        <div class="product_cover_image" style="background-image: url('https://pixter-loader-assets.s3.amazonaws.com/1_8_1_stg/files/images/magnet/preview3x3.png')">
        </div>
        <div class="image_thumbnail">
            <img class="product_inner-image" ng-src="{{sourceImg}}">
        </div>
        <div class="product-data">
            <span class="product-name">4 Magnets</span>
            <span class="product-price">$6.99</span>
        </div>
        <div class="product-buy-now">
            <a href="#" class="next-button">Next</a>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 product">
        <div class="product_cover_image" style="background-image: url('https://pixter-loader-assets.s3.amazonaws.com/1_8_1_stg/files/images/magnet/preview3x3.png')">
        </div>
        <div class="image_thumbnail">
            <img class="product_inner-image" ng-src="{{sourceImg}}">
        </div>
        <div class="product-data">
            <span class="product-name">4 Magnets</span>
            <span class="product-price">$6.99</span>
        </div>
        <div class="product-buy-now">
            <a href="#" class="next-button">Next</a>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 product">
        <div class="product_cover_image" style="background-image: url('https://pixter-loader-assets.s3.amazonaws.com/1_8_1_stg/files/images/magnet/preview3x3.png')">
        </div>
        <div class="image_thumbnail">
            <img class="product_inner-image" ng-src="{{sourceImg}}">
        </div>
        <div class="product-data">
            <span class="product-name">4 Magnets</span>
            <span class="product-price">$6.99</span>
        </div>
        <div class="product-buy-now">
            <a href="#" class="next-button">Next</a>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 product">
        <div class="product_cover_image" style="background-image: url('https://pixter-loader-assets.s3.amazonaws.com/1_8_1_stg/files/images/magnet/preview3x3.png')">
        </div>
        <div class="image_thumbnail">
            <img class="product_inner-image" ng-src="{{sourceImg}}">
        </div>
        <div class="product-data">
            <span class="product-name">4 Magnets</span>
            <span class="product-price">$6.99</span>
        </div>
        <div class="product-buy-now">
            <a href="#" class="next-button">Next</a>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 product">
        <div class="product_cover_image" style="background-image: url('https://pixter-loader-assets.s3.amazonaws.com/1_8_1_stg/files/images/magnet/preview3x3.png')">
        </div>
        <div class="image_thumbnail">
            <img class="product_inner-image" ng-src="{{sourceImg}}">
        </div>
        <div class="product-data">
            <span class="product-name">4 Magnets</span>
            <span class="product-price">$6.99</span>
        </div>
        <div class="product-buy-now">
            <a href="#" class="next-button">Next</a>
        </div>
    </div>            
</div>