
<div id="shop-view-responsive" class="row">
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 shop-view-product-container containe"
        ng-repeat="category in vm.productsData.categories">
        <div class="product_image_container">
            <product-image-display class="shop-view-product-image-display" product="category" image-url="imageUrl"  tmbWidth="180">
            </product-image-display>
        </div>
        <div class="product-data">
            <span class="product-name">{{ category.shortName }}</span>
            <span class="product-price">{{category.price}}</span>
        </div>
        <div class="shop-view-next-button-container">
            <div class="next-button" ng-click="vm.goToPreview(category)">Next</div>
        </div>
    </div>
</div>