<ul rn-carousel rn-carousel-controls id="slider-shop-view-responsive" class="image">
  <li>
    <div class="slider-shop-product-container">
        <div class="slider-shop-top-part">
            <img src="app/images/pixter_tshirt_oss.png" class="slider-shop-top-image">
        </div>
        <div class="slider-shop-bottom-part" >
            <img class="slider-shop-bottom-image" src="app/images/edden_bottom_background.jpg">
        </div>
    </div>
  </li>
  <li>slide #2</li>
  <li>slide #3</li>
</ul>