<div id="pMegaTeaserContainer">
    <div class="pmt_learn_more"><span>?</span></div>
    <div class="pmt_close_btn"><span></span></div>
    <div class="pmt_slides_container_parent">
        <div class="pmt_slides_container">
            <div class="pmt_slide pmt_first_slide">
                <div class="pmt_slide_product_image"></div>
                <div class="pmt_slide_banner"></div>
                <div class="pmt_slide_product_text">
                    <div class="pmt_slide_product_line1"></div>
                    <div class="pmt_slide_product_line2"></div>
                </div>
            </div>
            <div class="pmt_slide pmt_second_slide">
                <div class="pmt_slide_product_image"></div>
                <div class="pmt_slide_banner"></div>
                <div class="pmt_slide_product_text">
                    <div class="pmt_slide_product_line1"></div>
                    <div class="pmt_slide_product_line2"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="pmt_action">##Try it now##</div>
    <div class="pmt_powered_by"><span class="pmt_powered_by_text">Powered by </span><span class="pmt_powered_by_brand"></span>
    </div>
</div>