<div id="p_fte">
    <a href="#" id="closePFTE"></a>
    <p class="p_leadingP">##Hello from Pixter!##</p>
    <p>
        ##Pixter is your printing pal; It allows you to easily order any image you see as a variety of beautiful print products.##<br/>
        <br/>
        ##The Pixter store can be accessed by clicking on the "Get Prints" button that can be found on most images you'll see.##
    </p>
    <p class="p_learnMoreP">
        ##To get started, simply click on any product below, or## <a href="#">##click here##</a> ##to learn more.##
    </p>
</div>