<div id="p_PreviewWrapper" class="p_expressCheckout">
    <div class="previewLeftPanel">
        <div class="productBorder">
            <div class="productWrapper productType{4}" >
                <div class="productBackgroundImage_{4}" style="background:url({3}) no-repeat center center;"></div>
                <img src="{0}" class="previewImage"/>
            </div>

        </div>
		<div id="previewRotateContainer" class="expressCheckout">
			<a href="#" class="previewEdit"></a>
		</div>
    </div>
    <div class="previewRightPanel">
        <h2 id="previewHeader"><span>{2}</span><span class="previewPrice">{1}</span></h2>
        <ul class="previewBulletList">

        </ul>
    </div>
    <input id="fileUploadInput"  type="file" style="display:none" accept="image/*" />
</div>