<div id="cropWindow">
    <h2 class="pub-brand-store-text">##You can resize and move the picture to your liking##</h2>
    <div id="cropOuterContainer">

        <div id="cropImageContainer">

        </div>
    </div>
    <br style="clear: both"/>
    <div id="cropWindowButtonContainer">
        <div id="revertCrop">
            <a class="revertCropImage" href="#"></a>
            <span class="revertCropText">##Revert changes##</span>
        </div>
        <a id="applyCrop" href="#" class="p_Button pub-brand-buttons">##Apply##</a>
        <a id="cancelCrop" href="#" class="p_ButtonHollow">##Cancel##</a>

        <br style="clear: both"/>
    </div>
</div>