<div id="thankYouWindow">
    <div class="container">
        <a href="#" class="p_Logo"></a>
        <div class="header">
            <h2>
                ##Thank you for your order,## <span id="orderUserName"></span>!
            </h2>
        </div>
        <div class="content">
            <p style="margin:40px 0 20px">
                ##You should receive a confirmation email from us soon.##
            </p>
            <p>
                ##We are in the process of producing and shipping your order<br/>and will update you once it has been posted.##
                <br/>
                <span id="spamDisclaimer">##(if you didn't get the email, please check in your "spam" folder)##</span>
            </p>
        </div>
        <div class="buttons-container">
            <ul>
                <li><a href="#" class="p_ButtonHollow" id="thankYouClose">##Close##</a></li>
                <li><a href="#" class="p_Button pub-brand-buttons" id="thankYouContinue">##Continue Shopping##</a></li>
            </ul>
        </div>
    </div>
</div>

