<div id="rspWindow">
    <h2 class="pub-brand-store-text">##Preview your <span id='rspWindow_previewPlaceholder' class="pub-brand-store-text"></span> in real size##</h2>
    <div id="rspContainer">

        <div id="rspDragHelper">
            <img id="rspImage" src="#"/>
            <img id="rspTemplate" src="#"/>
        </div>

    </div>
    <div id="RSPButtons">
        <a id="approveRSP" href="#" class="p_Button pub-brand-buttons">##Approve##</a>
        <div id="uploadFromDisk">
            <input id="fileUploadInput"  type="file" style="display:none" accept="image/*" />
            <input id="fileUploadButton" class="p_ButtonHollow" type="button" value="##Upload from disk##"/>
        </div>
        <br style="clear: both"/>
    </div>
    <div id="rspInch">
        <div id="rspCalibrateCC"><img src="#"/></div>
        <div id="rspCalibrateSlider"></div>
    </div>
    <div class="instructions-container">
        <p class="instructions-text">
            ##Adjust to a real Credit Card Size##
        </p>
        <a href="#" id="rspHelp"></a>
    </div>

</div>