<div id="p_OrderConfirmation">
    <div id="confirmationProductContainer">
        <div id="orderConfirmationThumbnail"></div>

    </div>
    <div id="confirmationDetails">
        <div id="confirmationTitleWrapper" class="confirmationContainer">
            <h2 id="confirmationTitle"></h2>
            <select id="p_quantityTable" tabindex="109" name="quantity">

            </select>
        </div>
        <div id="confirmationSubTotal" class="confirmationContainer">
            <span>##Product Price:##</span>
            <span id="confirmationTotalRawPriceCoupon" class="pub-brand-store-text"></span>
            <span id="confirmationTotalRawPrice" class="pub-brand-store-text"></span>
        </div>
        <div id="confirmationShipping" class="confirmationContainer">
            <div id="shippingMethod">
                <span id="shippingMethodName"></span>
                <span id="shippingMethodPriceCoupon" class="pub-brand-store-text"></span>
                <span id="shippingMethodPrice" class="pub-brand-store-text"></span>
                <br/>
                <span id="shippingMethodText"></span>
            </div>
            <div id="shippingSelection">
                <ul>
                    <!-- <li><input type="radio" name="shippingMethodSelection" value="regularShipping" checked><span>regular shipping</span></li>
                     <li><input type="radio" name="shippingMethodSelection" value="expressShipping"><span>express shipping</span></li>-->

                </ul>
            </div>
            <br style="clear:both;"/>
        </div>
        <div id="confirmationTotal" class="confirmationContainer">
            <p id="youSavedContainer">##You saved:## <span id="youSavedPrice" class="pub-brand-store-text"></span></p>
            <a href="#" id="couponTrigger">##Have a coupon?##</a>
            <p id="totalContainer">
                <span>##Total:##</span>
                <span id="totalPrice" class="pub-brand-store-text"></span>
            </p>
            <br style="clear:both;"/>
        </div>
        <div id="confirmationButtons">
            <a href="#" id="confirmationButtonCreditCard" class="confirmationButtonCreditCard ##currentLanguage##"></a>
            <a href="#" id="confirmationButtonPayPal" class="confirmationButtonPayPal ##currentLanguage##"></a>
            <br style="clear: both"/>
            <a href="#" id="noChargeButton" class="p_Button pub-brand-buttons">##Submit##</a>
            <img class="p_Logo" src=""/>
        </div>
    </div>

</div>