<div class="p_OSS_slide" data-pid="{6}">
	<img class="p_OSS_background_image" src="{0}"/>
	<div class="p_OSS_porthole" style="width:{1}px;height:{2}px;{3}"></div>
	<h2 class="p_OSS_title pub-brand-oss-product-title" style="{7}">{4}</h2>
	<p class="p_OSS_description pub-brand-oss-product-description" style="{8}">{5}</p>
	<div class="p_OSS_bottom">
		<div class="p_OSS_bottom_express">
			<input class="p_OSS_edit" type="button">
			<div class="p_OSS_CTAContainer">
				<a href="#" class="p_OSS_expressButton"></a>
				<a class="p_OSS_regularButton" href="#"><span style="">##Prefer Credit Card?##</span> <span>##Have a coupon?##</span></a>
			</div>
			<div class="p_OSS_TOC">
				<input type="checkbox"/>
				<p class="p_TOCText">##I agree to the ##<a target="_blank" href="{9}">##terms##</a> ##and confirm I have the rights to upload and use the image.##</p>
			</div>
		</div>
		<div class="p_OSS_bottom_productSelection">
			<input class="p_OSS_edit" type="button" style="display:none">
			<div class="p_OSS_CTAContainer">
				<a href="#" class="p_OSS_bottom_productSelection_btn p_Button pub-brand-buttons">##Select Product##</a>
			</div>
			<!--
			<div class="p_OSS_TOC">
				<input type="checkbox"/>
				<p class="p_TOCText">##I agree to the ##<a target="_blank" href="{9}">##terms##</a> ##and confirm I have the rights to upload and use the image.##</p>
			</div>
			-->
			<div class="p_OSS_promotional">{10}</div>

		</div>
	</div>
</div>