<div id="p_PreviewWrapper">
    <div class="previewLeftPanel">
        <div class="productBorder">
            <div class="productWrapper productType{4}" >
                <div class="productBackgroundImage_{4}" style="background:url({3}) no-repeat center center;"></div>
                <img src="{0}" class="previewImage"/>
            </div>

        </div>
        <div class="editButtonContainer">
            <span class="editText pub-brand-store-text"><i class="pixter-icon-scissors"></i>##Edit##</span>
        </div>

        <div id="previewRotateContainer"></div>

    </div>
    <div class="previewRightPanel">
        <h2 id="previewHeader"><span>{2}</span><span class="previewPrice">{1}</span></h2>
        <ul class="previewBulletList">

        </ul>
        <div class="callToActionDiv">
            <a href="#" class="previewNextButton p_Button pub-brand-buttons">##Next##</a>
        </div>
    </div>
    <input id="fileUploadInput"  type="file" style="display:none" accept="image/*" />
</div>