<div id="p_Store" class="pStore_step_1">
    <div id="p_StoreHeader" class="pub-brand-header">
        <span id="logoContainer" class="logo-container"><img class="logo-image" data-image-url="pixtermeWhiteLogo.png"/></span>
        <ul>
            <li class="FL"><span id="headerText"></span></li>
            <li class="FR" id="brand_tagline"></li>
            <li class="FR" id="p_StoreLearnMore"><a href="#">##What's This?##</a><span id="headerSep">|</span></li>
        </ul>
    </div>
    <div id="themeContainer">

        <a href="#" id="closep_Store"></a>
        <a href="#" id="backp_Store">##<< Back##</a>
        <div id="userMessaging" class="pub-brand-special-offer"></div>
        <div id="p_ShopCanvas"></div>
    </div>
    <a href="#" id="disablep_Store">##Disable##</a>
    <a href="#" id="storeBroughtBy"></a>
</div>