<div id="p_Store" class="pStore_step_1">
    <div id="p_StoreHeader" class="pub-brand-header">
        <span id="logoContainer" class="logo-container"><img class="logo-image" data-image-url="pixtermeLogo.png"/></span>

        <ul>
            <li id="backp_StoreContainer"><a href="#" id="backp_Store"> < </a></li>
            <li id="p_storeHeaderTextContainer" class="FL"><span id="headerText"></span></li>
            <li id="p_closeStoreContainer"><a href="#" id="closep_Store" data-text-to-translate="Close">##Close##</a></li>
            <li class="FR" id="p_StoreLearnMore"><a href="#">?</a></li>
        </ul>
    </div>
    <div id="themeContainer">
        <div id="userMessaging" class="pub-brand-special-offer"></div>
        <div id="p_ShopCanvas"></div>
    </div>
    <a href="#" id="storeBroughtBy"></a>
</div>
